__pycache__/
.idea
!.gitkeep
data/DTU_MVS
data/DTU_MVS_local
data/DTU_MVS_git
slurm
*.err
*.out
*.zip
trash

# Attempt to not ignore the render.mp4 and render_noloop.gif files
!*/render.mp4
!*/render_noloop.gif

# Ignore other logs
logs/*
