@font-face {
    font-family: 'QuickSand';
    src: url('../fonts/quicksand/static/Quicksand-Regular.ttf');
}

body {
    text-align: center;
    font-size: 22px;
    font-family: 'QuickSand',  Arial, sans-serif;
}

.body {
    margin: 0 20%;
}

@media only screen and (max-width: 960px) {
  .body {
    margin: 0 5%;
  }
}

.body p {
    text-align: justify;
    text-justify: inter-word;
}

.body h1, .body h2, .body h3, .body h4, .body h5, .body h6 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.header {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px 0px;
    background-color: rgb(247, 235, 219);
}

.title {
    font-size: 55px;
    font-weight: bold;
    font-family: "News Cycle","Arial Narrow Bold", serif;

    padding: 20px 0px;
}

.subtitle {
    font-size: 30px;
    font-weight: bold;
    font-family: "News Cycle","Arial Narrow Bold", serif;
}

.authors {
    font-size: 25px;
    font-weight: bold;
    font-family: "Questrial","Arial Narrow Bold",sans-serif;

    margin-top: 15px;
    padding: 20px 0px;
}

.author-affiliations, .author-emails {
    font-size: 20px;
    font-weight: 500;
    font-family: "Questrial","Arial Narrow Bold",sans-serif;
}

.author-affiliations {
    padding-top: 4px;
    margin-top: 2px;
}

 .author-emails {
    font-size: 16px;
    font-style: italic;
    padding-top: 1px;
 }

.links {
    margin: 30px 0px;
}

.links .btn{
    transition: all ease-in-out 0.3s;

    font-size: 28px;
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
    padding: 5px 20px;
}

div.header {
    margin-bottom: 80px;
}

a:not(.btn) {
    border-radius: 5px;
    color: red;

    transition: all ease-in-out 0.3s;
}

a:not(.btn):hover {
    background: red;
    color: white;
    opacity: 0.6;

    padding-top: 0px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
}

.cite {
    vertical-align: top;
    font-size: 16px;
    font-style: normal;
    
    margin: 0 auto;
    /* margin-left: -1px; */
}

a.cite:hover {
    font-size: 17px;
}

.author-emails a:hover {
    font-size: 17px;
}

.gallery {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}

figure {
    display:block;
    margin-top: 30px;
    margin-bottom: 30px;
}

figure img {
    width: 90%;
    transition: all ease-in-out 0.3s;
}

figure:hover img {
    box-shadow:0px 0px 100px rgba(255, 171, 62, 0.25);
    cursor: zoom-in;
}

#modal img:hover {
    cursor: default;
    box-shadow: none;
}

.caption {
    font-size: 18px;
    font-style: italic;
    padding: 20px 0px;
}

.footnote {
    font-size: 14px;
    font-style: italic;
    padding: 13px 0px;
}